/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/members/app/classes/DBConfig.php
/members/login/classes/DBConfig.php
/members/signup/classes/DBConfig.php
/superadmin/app/classes/DBConfig.php
/superadmin/classes/DBConfig.php
/superadmin/login/classes/DBConfig.php
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
